body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}
.container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 5px solid #ddd;
    margin: 0 auto;
}
.container h1{
    color: whitesmoke;
    background-color: black;
    text-decoration: underline;
    width: 500px;
    justify-self: center;
    border-radius: 15px;
    margin: 15px auto;
}
.container .post p{
    font-size: 18px;
    color: whitesmoke;

}
.cabecera{
    background-color: black;
    color: darkred;
    font-size: 28px;
    font-family: fantasy;
    padding: 10px auto;
    text-shadow: darkred;
    box-shadow: darkred 5;
}